/* Common section*/

h1 {
    font-family: Times New Roman;
}


/* body section*/

body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    font-family: sans-serif
}

/* header section*/

header nav h1 {
    background-color: #4aaaa5;
}

/* main section*/

#title {
    color: #4aaaa5;
    background-color: transparent ;
}

/* footer section*/

.footer {
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}