/* Common section*/

h1 {
    font-family: Times New Roman;
}

/* body section*/

body {
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    font-family: sans-serif;
    padding-bottom: 60px;
}

/* header section*/

header nav h1 {
    background-color: #4aaaa5;
    font-weight: bold;
}

/* main section*/

main {
    padding-top: 20px;
    padding-bottom: 30px;
    /* padding-left: 30px; */
}

#title {
  color: #4aaaa5;
  background-color: transparent;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 100%;
    }
    #main-content {
        width: 130%;
    }
}

@media only screen and (min-width: 992px) {
    main {
        width: 65%;
    }
    #main-content {
        width: 100%;
    }
}

@media only screen and (min-width: 400px) {
    main {
        max-width: 400px;
    }
    #main-content {
        /* width: 350px; */
    }
}

.button {
  color: #fff !important;
  background-color: #4aaaa5 !important;
  border-color: #4aaaa5 !important;
}

/* footer section*/

.footer {
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #666666;
    border-top: 5px solid #4aaaa5;
}
