

@media only screen and (min-width: 400px) {
    #img-holder img{
        max-width: 328px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) {
    #img-holder img{
        max-width: 350px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) {
    #img-holder img{
        max-width: 350px;
        padding-bottom: 40px;
        padding-right: 20px;
    }
}